#morrisChart {
	width : 100%;
	height : 100%;
}



/* 요약 */

/* 어떤 값인지 설명하는 거*/
.each_count_01{
	font-size : 1.5em; /* 약  */
}
/* 값 글자 크기*/
.each_count_02{
	font-size : 1.5em;
}

/* 그래프 제목*/
.graph_title{
	font-size : 1.5em;
}
/* 도넛 차트 범례*/
.dc_01_legend_i{
	font-size : 1.5em;
}