@charset "UTF-8";


/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 77). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
	/* Base font size */
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #fafafa;
}

.container1 {
	
	max-width: 100rem;
	margin: 5% auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}





/*          여기서 부턴 아래 리스트                           */

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

/* Make the masthead heading the same height as the navigation */
.header h1 {
	font-size : 30px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3%;
}

/* Custom page footer */
.footer {
  padding-top: 2%;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */

  .container1-2{
  	
    max-width: 100rem;
    margin : 5% auto;
    padding : 0 2rem 2rem;
  }

.container-narrow > hr {
  margin: 3% 0;
}

/* Supporting marketing content */
.marketing {
  margin: 3% 0;
}
.marketing p + h4 {
  margin-top: 2%;
}

/* Responsive: Portrait tablets and up */

  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 3%;
    padding-bottom: 2%;
  	border-bottom: 1px solid #e5e5e5;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  
}


/* footer bar */

footer{ 
position:fixed; 
  left:23%; 
  bottom:0px; 
  height:60px; 
  width:54%;
  background: #D8ECF0; 
  color: white; 
  }
  
  .footer_first{
  	float: right;
  	position: relative;
  	top : 5px;
	width: 20%;
  }
  
  .book_buy{
  width: 100%;
  height: 50px;
  }
  
  .drop_top{
  	border : hidden;
  	left : 7px;
  	top : 15px;
  	position: absolute;
  	padding-right : 10px;
  	border-right: 2px solid black;
  	background : #D8ECF0;
  }
  
  
  .drop_top img{
  	width: 30px;
  	height: 30px;
  	background : #D8ECF0;
  }
  
  .top-list{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid black; 
  }
  
  
  
  /* 팝업 창 css 스타일 */
.Pstyle {
	 opacity: 0;
	 display: none;
	 position: fixed;
	 width: 900px;
	 height: 100%;
	 border: 5px solid #fff;
	 padding: 20px;
	 background-color: #fff;
	 
	}  
	
	
 /* 팝업창 안에 달력 */	
.calendar-section {
  margin-bottom: 20px;
}
.calendar, .calendar_weekdays,
.calendar_content {
  max-width: 585px;
}

.calendar {
  /*float: left;*/
  margin: auto;
  min-width: 320px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.calendar_weekdays {
	color: #aaa;
	font-weight: lighter;
}
.calendar_weekdays div {
  display:inline-block;
  vertical-align:top;
}
.calendar_content, .calendar_weekdays, .calendar_header {
  position: relative;
}
.calendar_content:after, .calendar_weekdays:after, .calendar_header:after {
	content: ' ';
	display: table;
	clear: both;
}
.calendar_weekdays div, .calendar_content div {
  /*border: 1px dotted #999;*/
  width: 14.28571%;
  height: 68px;
  line-height: 69px;  
  overflow: hidden;
  text-align: center;
  background-color: transparent;
}

.calendar_content .today {
	color: #3B8FC7;
}
.calendar_content div {
  float: left;
	margin-left: -1px;
	margin-top: -1px;
  border: 1px solid transparent;
}
.calendar_content div:hover {
  border: 1px solid #777;
  /*line-height: 68px;*/
  cursor: pointer;
}

.calendar_content div.blank:hover {
  cursor: default;
  border: none;
}

.calendar_content div.past-date {
	cursor: initial;
  color: #d5d5d5;
}
.calendar_content div.today{
  font-weight: bold;
  font-size: 18px;
  color: #409EDD;
}
.calendar_content div.selected {
  background-color: rgba(153, 153, 161, .2); /*rgba(170, 170, 176, .5) #aaaab0*/
  border: 1px solid white;
}
.calendar_header {
  width: 100%;
  text-align: center;
}

.calendar_header h2 {
  float:left;
  width:70%;
  margin-top: 10px;
  padding: 0 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  color: #FFFFFF;
}

button.switch-month {
  background-color: transparent;
  padding: 0;
  outline: none;
  border: none;
  line-height: 52px;
  height: 55px;
  float: left;
  width:15%;
  transition: color .2s;
}

button.switch-month:hover {
  color: #5EADE2;
}
button.switch-month:active {
  background-color: rgba(113, 113, 125, .4);
}
.calendar_header h2 {
  color: #409EDD;
  line-height: 1.7;
}

/* 팝업창 안에 인포 윈도우 */
#de_ch_total{
	width: 100%;
	height: 300px;
}

.def{
	width: 50%;
	height : 100%;
	float : left;
	
}

.change {
	width: 50%;
	height : 100%;
	float: left;
}

.Btndiv{
	width : 100%;
}

.Btndiv > input[type=button]  {
	float: right;
	
}

